@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --color-background: #f6f7f8;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for mobile niceness */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
